body {
  background-color: #2E2E2E;
}
p {
	color: gainsboro;
	font-size: 24px;
	
}

h1 {
	
  color: gainsboro;
  margin-left: 20px;
}
#circle {
    width: 120px;
    height: 120px;
    background: #7fee1d;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}