body {
  background-color: #2E2E2E;
}
p {
	color: gainsboro;
}

h1 {
  color: gainsboro;
  margin-left: 20px;
}

#rectangle {
    width: 500px;
    height: 120px;
    background: #FFFFFF;
	filter: blur(8px);
}